/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--Inter, Helvetica, Arial, sans-serif);
  font-variation-settings: "wght" var(--font-weight-main);
  margin: auto;
  padding: 100px 0;
  height: 100vh;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  align-items: start;
  gap: 98px;
}

.page__block {
  width: var(--width);
}

.header {
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-family: var(--PressStart2P, Impact, Haettenschweiler, fantasy);
  color: var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--main-color, #000);
  padding: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem)
    clamp(1rem, -6.68rem + 32.768vw, 7.656rem);
}

.header__logo {
  font-weight: var(--font-weight-button, 400);
  font-size: clamp(3.0625rem, 1.9092rem + 4.9231vw, 4.063rem);
  line-height: 100%;
  text-transform: uppercase;
}

.header__title {
  font-family: var(--PressStart2P, Impact, Haettenschweiler, fantasy);
  font-weight: var(--font-weight-button, 400);
  font-size: clamp(0.875rem, 0.2254rem + 2.7717vw, 1.438rem);
  line-height: 100%;
  text-transform: uppercase;
}

.content {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 700px;
}

.card {
  display: grid;
  width: var(--width);
  border: 2px solid var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  position: relative;
}

.card__title {
  padding: 4px 10px;
  font-family: var(--Inter, Arial, sans-serif);
  font-variation-settings: "wght" var(--font-weight-accent, 700);
  color: var(--main-color, #000);
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
}

.card__image {
  border-top: 2px solid var(--main-color, #000);
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}

.card__image-img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.grayscale {
  filter: grayscale(0.7);
}

.saturate {
  filter: saturate(300%);
}

.hue-rotate {
  filter: hue-rotate(33deg);
}

.inverted {
  filter: invert(80%);
}

.sepia {
  filter: sepia(100%);
}

.blur {
  filter: blur(0.7rem);
}

.false-color {
  filter: saturate(120%) invert(30%) hue-rotate(80deg);
}

.card__logo {
  position: absolute;
  top: 25px;
  right: 23px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--PressStart2P, Impact, Haettenschweiler, fantasy);
  color: var(--main-color, #000);
  font-size: 14px;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: var(--text-stroke-color)) or
    (-webkit-text-stroke: var(--text-stroke-color))
) {
  .card__logo {
    -webkit-text-stroke: var(--text-stroke-color);
    text-stroke: var(--text-stroke-color);
    text-shadow: none;
  }
}

.card__footer {
  padding: 25px;
  display: grid;
  gap: 25px;
  border-top: 2px solid var(--main-color, #000);
}

.card__text {
  display: grid;
  gap: 25px;
  font-family: var(--Inter, Arial, sans-serif);
  font-size: 18px;
  line-height: 21px;
  color: var(--main-color);
  font-variation-settings: "wght" var(--font-weight-main, 400), "slnt" 0;
}

.button-container {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-self: end;
  align-self: center;
  background-color: var(--bg-color, #fff);
}

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--bg-color, #fff);
  transition: box-shadow 0.3s ease;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  color: var(--main-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  mix-blend-mode: difference;
  inset: 0;
  background-color: var(--bg-color, #fff);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
  outline: none;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  max-width: 38px;
  display: grid;
  place-items: center;
}

.card__icon-button:focus-visible {
  box-shadow: 0 0 0 1px var(--main-color, #000) inset,
    0 0 0 1px var(--main-color, #000);
}

.like-icon {
  transform-origin: center;
  min-width: 27px;
  min-height: 24px;
}

.main-body,
.core {
  fill: transparent;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--main-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--main-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked {
  animation: heart_scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: spark_opacity 0.3s ease-in 0.3s;
}

.card__like-button {
  box-sizing: border-box;
  width: 130px;
  height: 38px;
  border: solid 2px var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
  outline: none;
}

.button__text {
  font-family: var(--PressStart2P, Impact, Haettenschweiler, fantasy);
  font-variation-settings: "wght" var(--font-weight-button, 400);
  font-size: 14px;
  line-height: 90%;
  color: var(--main-color, #000);
  white-space: nowrap;
  /* display: inline-block;
  position: relative;
  mix-blend-mode: difference;*/
}

.save_button {
  box-sizing: border-box;
  display: flex;
  padding: 17px 20px;
  justify-self: center;
  width: 335px;
  height: 55px;
  margin-bottom: 100px;
  white-space: nowrap;
  gap: 8px;
  align-items: center;
}

.button__icon_floppy {
  min-width: 21px;
  min-height: 21px;
}

.floppy {
  fill: #000;
  min-width: 39px;
}

/*.save_dialog {
  display: none;
}*/

.button__text_dialog {
  line-height: 1.5;
  white-space: initial;
}

.save_dialog[open] {
  padding: 30px;
  width: var(--width-dialog);
  border: 2px solid var(--main-color, #000);
  box-sizing: border-box;
  font-weight: var(--font-weight-button, 400);
  text-transform: uppercase;
}

.save_dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.save_dialog__window {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.button__text_save {
  padding: 12.5px;
  font-family: var(--PressStart2P, Impact, Haettenschweiler, fantasy);
  font-weight: var(--font-weight-button, 400);
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  background-color: transparent;
  display: block;
}

.button__ok {
  border: 2px solid var(--main-color, #000);
  width: 100%;
}

@media (width <= 375px) {
  .page {
    gap: 100px;
  }

  .save_button {
    flex-direction: column;
    width: 306px;
    height: 84px;
  }

  .button__icon_floppy {
    min-width: 28px;
    min-height: 28px;
  }

  .save_dialog[open] {
    padding: 30px 40px;
  }

  .card__logo {
    top: 29px;
    right: 27px;
  }
}
